<nav class="navbar">
  <a href="http://SuperFizzBuzz.com" class="logo">
    <img src="../../../assets/SuperFizzBuzzLogo.png" alt="SUPER FIZZBUZZ!">
  </a>
  <div id="nav-left">


      <mat-card mat-ripple matRippleColor="White" (click)="reRoute('/')">Play</mat-card>

      <mat-card mat-ripple matRippleColor="White" id="scoreBoard" mat-fab (click)="reRoute('/scoreboard')">ScoreBoard</mat-card>

      <mat-card mat-ripple matRippleColor="White" id="scoreBoardMobile" mat-fab (click)="reRoute('/scoreboard')">Score<br>Board</mat-card>

      <mat-card mat-ripple matRippleColor="White" (click)="reRoute('/')">About</mat-card>


  </div>
</nav>
