* {
  overflow: visible;
}

body {
  font-family: 'Economica', cursive;
}

h1, h2, h4, h5, h6 {
  margin: 0 0 0 5%;
  font-family: 'Economica', cursive;
  mix-blend-mode: difference;
  font-size: 1.5em;
}

h3 {
  margin: 0 0 0 5%;
  font-family: 'Yellowtail', cursive;
  mix-blend-mode: difference;
  font-size: 1.5em;

}
