
#main {
  margin: auto;
  width: 60%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 600px) {
  #main {
    margin: auto;
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  //height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //height: 100%;
}

.flex-item {
  display: flex;
}

#background {
  height: 100vh;
  width: 100vw;
}


app-timer {
  margin: 2vh 0;
}

app-button-console {
  height: 20vh;
  width: 100%;
}

app-dock {
  margin: 2vh;
  height: 30vh;
}
